@import 'normilize';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  color: rgb(57, 43, 35);
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(57, 43, 35);
  border-radius: 20px;
}
